*{

margin:0;
padding:0;
box-sizing:border-box;

font-family:Arial, Helvetica, sans-serif;

}



body{

height:100vh;

display:flex;
justify-content:center;
align-items:center;


background:
linear-gradient(135deg,#ff9966,#ff5e62);

}



.forgot-container{

width:100%;

display:flex;
justify-content:center;
align-items:center;

}



.forgot-box{


width:380px;

background:white;

padding:40px;

border-radius:15px;


box-shadow:
0 15px 30px rgba(0,0,0,0.3);


}



h2{

text-align:center;

margin-bottom:15px;

color:#333;

}



.text{

text-align:center;

font-size:14px;

color:#777;

margin-bottom:30px;

}




.input-box{

position:relative;

margin-bottom:25px;

}




.input-box input{

width:100%;

padding:12px 0;


border:none;

outline:none;


border-bottom:2px solid #aaa;


font-size:16px;


}




.input-box label{


position:absolute;

left:0;

top:12px;


color:#777;


pointer-events:none;


transition:.3s;


}




.input-box input:focus ~ label,
.input-box input:valid ~ label{


top:-12px;

font-size:13px;

color:#ff5e62;


}



button{


width:100%;


padding:12px;


border:none;


border-radius:25px;


background:#ff5e62;


color:white;


font-size:17px;


cursor:pointer;


margin-bottom:20px;


}



button:hover{

background:#ff9966;

}



.otp-section{

margin-top:15px;

}



.login{

text-align:center;

color:#555;

}



.login a{

color:#ff5e62;

text-decoration:none;

font-weight:bold;

}



@media(max-width:450px){

.forgot-box{

width:90%;

padding:30px;

}


}
#resetSection {
    display: none;
}